{% extends "layout.html" %}
{% block title %}Add Project{% endblock %}
{% block breadcrums %}
<a href="{{ url_for('projects') }}">Projects</a> 
/ Add - 
<a href="{{ url_for('logout') }}" id="logout">Logout</a>
{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('add_project') }}" id="form">
    <p>
        <label>
            Project Name: 
            <input id="name" type="text" name="name" /> 
            <span id="nameerror" class="error">
                {% if 'name_blank' in request.errors %}Name cannot be blank!{% endif %}
                {% if 'name_invalid' in request.errors %}Invalid Name!{% endif %}
                {% if 'name_duplicate' in request.errors %}Name already exists in the database for this project!{% endif %}
                {% if 'name_length' in request.errors %}Names are limited to a length of 50 characters!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Brief Project Description: 
            <input id="briefdescription" type="text" name="briefdescription" />
            <span id="briefdescriptionerror" class="error">
                {% if 'brief_description_blank' in request.errors %}Brief Description cannot be blank!{% endif %}
                {% if 'brief_description_invalid' in request.errors %}Invalid Brief Description!{% endif %}
                {% if 'brief_description_length' in request.errors %}Brief descriptions are limited to a length of 50 characters!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Project Description: 
            <span id="descriptionerror" class="error">
                {% if 'description_blank' in request.errors %}Description cannot be blank!{% endif %}
                {% if 'description_invalid' in request.errors %}Invalid Description!{% endif %}
                {% if 'description_length' in request.errors %}Descriptions are limited to a length of 50 characters!{% endif %}
            </span><br /><br />
            <textarea id="description" name="description" cols="40" rows="5"></textarea>
        </label>
    </p>
    <p>
        <input id="submit" type="submit" value="Add Project" />
    </p>
</form>
{% endblock %}