{% extends "layout.html" %}
{% block title %}Modify Task{% endblock %}
{% block breadcrums %}
<a href="{{ url_for('projects') }}">Projects</a> 
/ <a href="{{ url_for('project', project_id=request.project.id) }}">{{ request.project.name }}</a>
/ <a href="{{ url_for('task', project_id=request.task.project_id, task_id=request.task.id) }}">{{request.task.name}}</a> 
/ Modify - 
<a href="{{ url_for('logout') }}" id="logout">Logout</a>
{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('modify_task', project_id=request.task.project_id, task_id=request.task.id) }}" id="form">
    <p>
        <label>
            Task Name: 
            <input id="name" type="text" name="name" value="{% if request.form.get('name') %}{{ request.form.get('name') }}{% else %}{{ request.task.name }}{% endif %}" /> 
            <span id="nameerror" class="error">
                {% if 'name_blank' in request.errors %}Name cannot be blank!{% endif %}
                {% if 'name_invalid' in request.errors %}Invalid Name!{% endif %}
                {% if 'name_duplicate' in request.errors %}Name already exists in the database for this project!{% endif %}
                {% if 'name_length' in request.errors %}Names are limited to a length of 50 characters!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Brief Task Description: 
            <input id="briefdescription" type="text" name="briefdescription" value="{% if request.form.get('brief_description') %}{{ request.form.get('brief_description') }}{% else %}{{ request.task.brief_description }}{% endif %}" /> 
            <span id="briefdescriptionerror" class="error">
                {% if 'brief_description_blank' in request.errors %}Brief Description cannot be blank!{% endif %}
                {% if 'brief_description_invalid' in request.errors %}Invalid Brief Description!{% endif %}
                {% if 'brief_description_length' in request.errors %}Brief descriptions are limited to a length of 50 characters!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Task Description: 
            <span id="descriptionerror" class="error">
                {% if 'description_blank' in request.errors %}Description cannot be blank!{% endif %}
                {% if 'description_invalid' in request.errors %}Invalid Description!{% endif %}
                {% if 'description_length' in request.errors %}Descriptions are limited to a length of 1,000 characters!{% endif %}
            </span><br /><br />
            <textarea id="description" name="description" cols="40" rows="5">{% if request.form.get('description') %}{{ request.form.get('description') }}{%- else %}{{ request.task.description }}{% endif %}</textarea>
        </label>
    </p>
    <p>
        <label>
            Complexity:
            <select name="complexity">
                <option {% if request.form.get('complexity') == 'Low' %}selected="selected"{% elif request.task.name.value == 'Low' %}selected="selected"{% endif %}>Low</option>
                <option {% if request.form.get('complexity') == 'Medium' %}selected="selected"{% elif request.task.name.value == 'Medium' %}selected="selected"{% endif %}>Medium</option>
                <option {% if request.form.get('complexity') == 'High' %}selected="selected"{% elif request.task.name.value == 'High' %}selected="selected"{% endif %}>High</option>
            </select>
            <span id="complexityerror" class="error">
                {% if 'complexity_blank' in request.errors %}Complexity cannot be blank!{% endif %}
                {% if 'complexity_invalid' in request.errors %}Invalid Complexity!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Due Date: 
            <input id="duedate" type="text" name="duedate" size="10" maxlength="10" value="{% if request.form.get('due_date') %}{{ request.form.get('due_date') }}{% else %}{{ request.task.due_date.strftime('%Y-%m-%d') }}{% endif %}" /> 
            <span id="duedateerror" class="error">
                {% if 'due_date_blank' in request.errors %}Due Date cannot be blank!{% endif %}
                {% if 'due_date_invalid' in request.errors %}Due Date must be in the form YYYY-MM-DD{% endif %}
            </span>
        </label>
    </p>
    <p>
        <label>
            Status:
            <select name="status">
                <option {% if request.form.get('status') == 'Not Started' %}selected="selected"{% elif request.task.status.value == 'Not Started' %}selected="selected"{% endif %}>Not Started</option>
                <option {% if request.form.get('status') == 'In-Progress' %}selected="selected"{% elif request.task.status.value == 'In-Progress' %}selected="selected"{% endif %}>In-Progress</option>
                <option {% if request.form.get('status') == 'Complete' %}selected="selected"{% elif request.task.status.value == 'Complete' %}selected="selected"{% endif %}>Complete</option>
            </select>
            <span id="statuseerror" class="error">
                {% if 'status_blank' in request.errors %}Status cannot be blank!{% endif %}
                {% if 'status_invalid' in request.errors %}Invalid Status!{% endif %}
            </span>
        </label>
    </p>
    <p>
        <input id="submit" type="submit" value="Modify Task" />
    </p>
</form>
{% endblock %}