{% extends "layout.html" %}
{% block title %}{{ request.project.name }}{% endblock %}
{% block breadcrums %}
<a href="{{ url_for('projects') }}">Projects</a> 
/ {{ request.project.name }} - 
<a href="{{ url_for('logout') }}" id="logout">Logout</a>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Project Name</th>
        <th>Brief Project Description</th>
    </tr>
    <tr>
        <td>{{ request.project.name }}</td>
        <td>{{ request.project.brief_description }}</td>
    </tr>
</table>
<h3>Project Description</h3>
<p>{{ request.project.description }}</p>
{% if request.tasks %}
<h3>Tasks</h3>
<table>
    <tr>
        <th>Task Name</th>
        <th>Brief Task Description</th>
        <th>Complexity Level</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Past Due?</th>
    </tr>
    {% for task in request.tasks %}
    <tr>
        <td><a href="{{ url_for('task', project_id=request.project.id, task_id=task.id) }}">{{ task.name }}</a></td>
        <td>{{ task.brief_description }}</td>
        <td>{{ task.complexity.value }}</td>
        <td>{{ task.due_date.strftime('%Y-%m-%d') }}</td>
        <td>{{ task.status.value }}</td>
        <td>{% if task.is_task_past_due() %}Past Due{% else %}On-Time{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    There are no tasks!
{% endif %}
<p>
    <a href="{{ url_for('add_task', project_id=request.project.id) }}">Add Task</a>
    <a href="{{ url_for('modify_project', project_id=request.project.id) }}">Modify Project</a>
    <form method="post" action="{{ url_for('delete_project', project_id=request.project.id) }}">
        <input id="delete" type="submit" value="Delete Task" />
    </form>
</p>
{% endblock %}