{% extends "layout.html" %}
{% block title %}{{ request.task.name }}{% endblock %}
{% block breadcrums %}
 - <a href="login.html" id="logout">Logout</a>
{% endblock %}
{% block content %}
<table>
	<tr>
		<th>Brief Task Description</th>
		<th>Complexity Level</th>
		<th>Due Date</th>
		<th>Status</th>
        <th>Past Due?</th>
	</tr>
	<tr>
		<td>{{ request.task.brief_description }}</td>
		<td>{{ request.task.complexity.value }}</td>
		<td>{{ request.task.due_date.strftime('%Y-%m-%d') }}</td>
		<td>{{ request.task.status.value }}</td>
        <td>{% if request.task.is_task_past_due() %}Past Due{% else %}On-Time{% endif %}</td>
	</tr>
</table>
<h3>Task Description</h3>
<p>{{ request.task.description }}</p>
<p>
	<a href="{{ url_for('modify_task', project_id=request.task.project_id, task_id=request.task.id) }}">Modify Task</a>
    <form method="post" action="{{ url_for('delete_task', project_id=request.task.project_id, task_id=request.task.id) }}">
        <input id="delete" type="submit" value="Delete Task" />
    </form>
</p>
{% endblock %}