{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block breadcrums %}
 - <a href="{{ url_for('logout') }}" id="logout">Logout</a>
{% endblock %}
{% block content %}
{% if request.projects %}
<table>
    <tr>
        <th>Project Name</th>
        <th>Brief Project Description</th>
    </tr>
    {% for project in request.projects %}
    <tr>
        <td><a href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></td>
        <td>{{ project.brief_description }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    There are no projects!
{% endif %}
<p>
    <a href="{{ url_for('add_project') }}">Add Project</a>
</p>
{% endblock %}